xlsx_resources/for_trainings/
rcnn_model_trainings/workorder_classifications/work_order_desc_semantic_analysis/saved_models
rcnn_model_trainings/workorder_classifications/pm_harmonisation_classification/saved_models
util_fucntions/fill_missing_rct_pm_wo_des_data.py
util_fucntions/add_trade_group_as_context.py
util_fucntions/upload_harmonised_pm_desc_to_dataverse.py
rcnn_model_trainings/workorder_classifications/work_order_desc_semantic_analysis/wandb
rcnn_model_trainings/workorder_classifications/pm_harmonisation_classification/wandb
util_fucntions/format_some_excel.py
util_fucntions/format_some_excel_v2.py
.idea/Project Skynet Stuff.iml
 xlsx_resources/.DS_Store
 xlsx_resources/pfm_wa_report/.contract_workorders_from_nov_2021.xlsx.icloud
 util_fucntions/__pycache__/util_functions.cpython-38.pyc
 *.icloud
 rcnn_model_trainings/workorder_classifications/work_order_desc_semantic_analysis.py
 rcnn_model_trainings/workorder_classifications/pm_harmonisation_classification/static_classes_copy.json
 rcnn_model_trainings/workorder_classifications/pm_harmonisation_classification/saved_permutaions.json
 xlsx_resources/